@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark ;
   
   }
  
   @plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: #14B8A6;
    --color-secondary: ;
  }

  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *))
  